@media (max-width: 991px) {	
	/* Hamberger Menu */
	li.icon a{
		float: right;
	}
	ul.topnav li:not(:first-child){
		display: none;
	}
	ul.topnav li.icon {
		float: right;
		display: inline-block;
		padding: 0;
	}
	ul.topnav.responsive {
		position: relative;
	}
	ul.topnav.responsive li {
		display: inline-block;
	}
	ul.topnav.responsive li a {
		display: block;
		text-align: left;
	}
	ul.topnav.responsive li.icon{
		position: absolute;
		right: 0;
		top: 0;
	}
	#icon-hambg{
		color:#777;
	}

	/* Section <main> */
	.section-header{
		padding :25px 16px 25px 20px;
		line-height: 40px;
	}
	.font-size-header {
    	font-size: 15px;
	}
	ul li.nav-column {
		width: 100%;
	}
	.layout-left{
		width: 50%;
	}
	.layout-right{
		float: left;
		margin-top:0px;
	}
	
	/* Footer */
	#text-footer{
		display: none;
	}
	.section-right {
	    padding-top: 5px;
	    font-size: 14.8px;
	    width: 100%;
	}
	.section-footer{
    	padding: 8px 0 0 20px;
	}
}