	/*header*/
	.font-style{
    	font-family: "Lucida Console", Monaco, monospace;
	}
	.font-size-header{
		font-size:34px;
	}
	.font-size-header.sticky{
		font-size:24px;
	}
	.font-size-body{
		font-size:16px;
	}
	.layout-left.sticky{
		float: left;
		padding-left: 26px;
	}
	.layout-right.sticky{
		float: right;
		width: 80%;
	}
	.section-header{
		width: 100%;
		text-align: center;
		line-height: 70px;
    	/*padding: 11px;*/
		color: #000000;
		/*border-bottom: 1px solid #555;*/
	  background:#fff;
	  z-index: 1;
	}
	.section-header.sticky {
		position: fixed;
	  font-size: 16px;
	  width: 100%;
	  border-bottom: 1px solid #fff;
	  /*transition: all 0.4s ease;*/
	  background:#fff;
	}
	.nav-column{
		width: 11%;
		text-align: center;
		color: #000000;
	}
	.nav-column.sticky{
		width: 9%;
		text-align: center;
		color: #000000;
	}
	.nav-column:hover{
		color: #ffffff;
		/*text-decoration: underline;*/
		background: #000000;
	}
	.nav-column:active {
		color: #ffffff;
		background: #000000;
	}
	.photo-list{
		width: 100%;
	}
	.img-entry-vert img{
		height: 358px;
		top: 5px;
		margin-bottom: 9px;
	}
	.img-entry-horiz img{
		height: 358px;
		top: 5px;
		margin-bottom: 9px;
	}
	.rslides {
	  position: relative;
	  list-style: none;
	  overflow: hidden;
	  width: 100%;
	  padding: 0;
	  margin: 0;
	  }

	.rslides li {
	  -webkit-backface-visibility: hidden;
	  position: absolute;
	  display: none;
	  width: 100%;
	  left: 0;
	  top: 0;
	  }

	.rslides li:first-child {
	  position: relative;
	  display: block;
	  float: left;
	  }

	.rslides img {
	  display: block;
	  height: auto;
	  float: left;
	  width: 100%;
	  border: 0;
	  }

	.section-nav{
		border-bottom:1px solid #000000;
		margin-bottom: 17px !important;
	}
	.section-body{
		min-height: 400px;
		position: relative;
	}
	.section-footer{
	    border-top: 1px solid #555;
	    margin: 15px 0 15px 0;
	    padding: 10px;
	}
	.section-left{
		float: left;
	}
	.section-right{
		float: right;
		text-align: right;
	}
	.demo img{
	    width: 100%;
	    /*height: 100%;*/
	}
	ul {
	    list-style: none outside none;
	    padding-left: 0;
	    margin-bottom:0;
	}
	li {
	    display: block;
	    float: left;
	    margin-right: 6px;
	    cursor:pointer;
	}

